<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <!-- For Console-->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%sn %d{yyyy/MM/dd HH:mm:ss,SSS} %r [%-6p] [%t] %c{3} [%C{3}.%M(%F:%L)] - %m%n"/>
        </Console>

        <!-- For writing logs to a file-->
        <File name="LogFile" fileName="app.log">
            <PatternLayout>
                <PatternLayout pattern="%sn %d{yyyy/MM/dd HH:mm:ss,SSS} %r [%-6p] [%t] %c{3} [%C{3}.%M(%F:%L)] - %m%n"/>
            </PatternLayout>
        </File>

        <!-- For writing logs to a JSON file-->
        <File name="LogFile" fileName="app.json">
            <JsonLayout complete="true" properties="true" locationInfo="true"/>
        </File>

        <!-- For File writing on Different Thread-->
        <Async name="Async">
            <AppenderRef ref="LogFile"/>
        </Async>
    </Appenders>

    <!-- Types of Loggers -->
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="LogFile"/>
        </Root>
    </Loggers>
</Configuration>